<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/corgis/index.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <div class="card-container">
    <% corgis.forEach(corgi => { %>
      <a href="/corgis/<%= corgi._id %>">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title"><%= corgi.name %></h2>
          <h6 class="card-subtitle mb-2 text-muted"><%= corgi.breed %> Welsh Corgi</h6>
        </div>
      </div>
      </a>
    <% }) %> 
  </div>  
</section>

<%- include('../partials/footer') %>