<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/corgis/index.css" />
<%- include('../partials/nav') %>

<section>
  <h1><%= title %></h1>
  <ul>
    <% corgis.forEach(corgi => { %>
      <li>
        <a href="/corgis/<%= corgi._id %>"><%= corgi.name %></a>
      </li>
    <% }) %> 
  </ul>
</section>

<%- include('../partials/footer') %>