<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/corgis/show.css" />
<%- include('../partials/nav') %>

<main>
<section id="corgi-info">
  <h1><%= corgi.name %></h1>
  <h2><%= corgi.breed %> Welsh Corgi</h2>
  <div>
    Bio: <%= corgi.bio %> 
  </div>
  <div>
    Color: <%= corgi.color %> 
  </div>
  <div>
    Age: <%= corgi.age %> 
  </div>  
  <div>
    Accessories: <% corgi.accessories.forEach(accessory => { %>
      <img src="/images/accessories/<%= accessory.name %>.png" alt="accessory">
    <% }) %> 
  </div>
  <div>
    Owned by: <%= corgi.owner.name %>
  </div>
</section>
<% if (corgi.owner.equals(user?.profile._id)) { %> 
  <section id="accessories">
    <h2>Add Accessories</h2>
    <form action="/corgis/<%= corgi._id %>/accessories" method="POST">
      <label for="accessory-name">Accessories:</label>
      <select name="name">
        <% options.forEach(opt =>  { %> 
        <option value="<%= opt %>"><%= opt %></option>
        <% }) %>
      </select>
      <button type="submit">Add to Pup!</button>
    </form>
  </section>
  <section id="update">
    <div>
      <a href="/corgis/<%= corgi._id %>/edit">
        <button>Edit</button>
      </a>
    </div>
    <div>
      <form action="/corgis/<%= corgi._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  </section>
<% } %>
</main>

<%- include('../partials/footer') %>