<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1><%= corgi.name %></h1>
  <h2>Owner: <%= corgi.owner.name %></h2>
</section>

<%- include('../partials/footer') %>